{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <!-- Hero Start -->
    <section class="bg-half bg-primary d-table w-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="page-next-level">
                        <h4 class="title text-white"> Contact us </h4>
                        <div class="page-next">
                            <nav aria-label="breadcrumb" class="d-inline-block">
                                <ul class="breadcrumb bg-white rounded shadow mb-0">
                                    <li class="breadcrumb-item"><a href="index.html">Back to home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>  <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </section><!--end section-->
    <!-- Hero End -->

    <!-- Start Contact -->
    <section class="section pt-0" id="map">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="card map border-0">
                        <div class="card-body p-0">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13728.756395680615!2d76.6823826!3d30.6568032!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x84889b3c42772db1!2sSPACIUM%20Technologies!5e0!3m2!1sen!2sin!4v1617603907474!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen=""
                                    loading="lazy"></iframe>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->

        <div class="container mt-100 mt-60">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0 order-2 order-md-1">
                    <div class="card custom-form rounded shadow border-0">
                        <div id="contact-form" class="card-body">
                            <h5 class="card-title">You can start search here</h5>
                            <div v-cloak v-if="success" class="alert alert-success" role="alert">${success}</div>
                            <div v-cloak v-if="error" class="alert alert-danger" role="alert">${error}</div>
                            <form class="login-form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Your Name</label>
                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                            <input type="text" v-model="form_data.name" class="form-control pl-5" placeholder="Name"
                                                   required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Your Email</label>
                                            <i data-feather="mail" class="fea icon-sm icons"></i>
                                            <input type="email" v-model="form_data.email" class="form-control pl-5" placeholder="Email"
                                                   required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Your Phone Number</label>
                                            <i data-feather="phone" class="fea icon-sm icons"></i>
                                            <input type="number" maxlength="10" minlength="10" v-model="form_data.phone" class="form-control pl-5" placeholder="Phone"
                                                   required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Your Message</label>
                                            <textarea v-model="form_data.message" class="form-control" placeholder="Message"
                                                      required=""></textarea>

                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <button :disabled="processing" class="btn btn-success w-100 g-recaptcha" data-sitekey="6LdvxIwaAAAAAGcXIYpVemgdGfbrNpK1ditofF8b"
                                                data-callback='onSubmit'
                                                data-action='submit'>${ processing ? 'Sending Message...':'Contact Now'}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!--end custom-form-->
                </div><!--end col-->

                <div class="col-lg-7 col-md-6 order-1 order-md-2">
                    <div class="title-heading ml-lg-4">
                        <h4 class="mb-4">Contact Details</h4>
                        <p class="text-muted">Our Head office is located in Mohali, from where we cater to the clients present all over the globe.</p>
                        <div class="media contact-detail align-items-center mt-3">
                            <div class="icon">
                                <i data-feather="mail" class="fea icon-m-md text-dark mr-3"></i>
                            </div>
                            <div class="media-body content">
                                <h4 class="title font-weight-bold mb-0">Email</h4>
                                <a href="mailto:contact@example.com" class="text-primary">contact@spacium.co</a>
                            </div>
                        </div>

                        <div class="media contact-detail align-items-center mt-3">
                            <div class="icon">
                                <i data-feather="phone" class="fea icon-m-md text-dark mr-3"></i>
                            </div>
                            <div class="media-body content">
                                <h4 class="title font-weight-bold mb-0">Phone</h4>
                                <a href="tel:+152534-468-854" class="text-primary">1800 102 3099</a>
                            </div>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End contact -->

{% endblock %}


{% block footer_javascript %}
    <script src="assets/js/Controllers/MainController.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}
