{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <!-- Hero Start -->
    <section class="bg-half bg-primary d-table w-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="page-next-level">
                        <h4 class="title text-white"> Privacy Policy </h4>
                        <div class="page-next">
                            <nav aria-label="breadcrumb" class="d-inline-block">
                                <ul class="breadcrumb bg-white rounded shadow mb-0">
                                    <li class="breadcrumb-item"><a href="index.php">Back to home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>  <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </section><!--end section-->
    <!-- Hero End -->

    <!-- Shape Start -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!--Shape End-->

    <!-- Start Terms & Conditions -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="card shadow border-0 rounded">
                        <div class="card-body">
                            <h3 class="card-title">Spacium Technologies Privacy Policy</h3>
                            <p>This Privacy Policy explains how information is collected, used and disclosed by Spacium Technologies
                                (“Company”) when you access or use our websites, mobile applications, or other products or services
                                (collectively, the “Services”), or when you otherwise interact with us. Our Services include the web
                                pages at the spacium.co domain and our online storage services (“Storage Services”) that enable users
                                to store data on third-party devices that have installed an distributed cloud storage software (“Software”).
                                This policy does not apply to the information other devices that have installed the Software may collect
                                about you or your device in connection with your use of the Software.
                                We may change this policy from time to time. If we make changes, we will notify you by revising the
                                date at the top of the policy and, in some cases, we may provide additional notice (such as adding a
                                statement to our webpage or sending a notification). For information about choices we offer in connection
                                with any of our information practices, please see “Your Choices” below.</p>

                            <h4>Collection of Information</h4>
                            <h5>Information You Provide to Us</h5>

                            <p>We collect information you provide directly to us. For example, we collect information you provide
                                when you create an account, subscribe to our updates, respond to a survey, fill out a form, request
                                customer support or communicate with us. The types of information we may collect include your bitcoin
                                address, email address, username and password, survey responses and any other information you choose
                                to provide.
                            </p>

                            <p>If you use our Storage Services, our third-party service provider may collect your payment method
                                information for use in connection with your payments for storage.</p>

                            <p>If you rent storage space to us via the Software, we may require you to submit a tax form in
                                connection with your receipt of payments from us. The tax form may require you to provide certain
                                information, including your name, business name, address or tax identification number (e.g., SSN or EIN).
                                We will use this tax form information solely to submit relevant tax filings.</p>

                            <h5>Information We Collect Automatically</h5>
                            <p>
                                When you use our Services, we automatically collect information from your devices. For example, we may collect:
                            </p>
                            <ul>
                                <li>
                                    Log Information: We collect log information when you use our Services, including access times, pages viewed,
                                    IP address, and the web page that referred you to our website.
                                </li>
                                <li>
                                    Device Information: We collect information about the computer or mobile device you use to
                                    access our Services, including the hardware model, operating system and version, your web
                                    browser, and device identifiers (including a network ID used to communicate with other nodes on the platform).
                                </li>
                                <li>
                                    Telemetry Information. If you use the Software, we may collect the amount of free and used
                                    storage space on your device, bandwidth upload and download speeds, and other statistics
                                    about your device and network connection.
                                </li>
                                <li>
                                    Performance Information. If you rent storage space to us via the Software, we may collect the amount of data
                                    transferred via our Services, the contract associated with the transferred data, and a log of the outcome
                                    (success or failure) of audits performed on your node.
                                </li>
                                <li>
                                    Usage Information. If you use our Storage Services, we will collect metadata about the
                                    files you upload for storage and the file shards that are distributed via the Storage Services
                                    (including shard size, number of shards and frequency of access), and we will record instances
                                    in which you have used your private key to authenticate communications.
                                </li>
                                <li>
                                    Information Collected by Cookies and Other Tracking Technologies via Our Services: We
                                    and our service providers use various technologies to collect information when you interact
                                    with our websites and mobile apps, including cookies and web beacons. Cookies are small data
                                    files that are stored on your device when you visit a website, which enable us to collect
                                    information about your device identifiers, web browsers used to access the Services, pages or
                                    features viewed, time spent on pages, mobile app performance and links clicked. Web beacons
                                    (or pixel tags) are electronic images that may be used in our web Services or emails to help
                                    deliver cookies, count website visits, understand usage and determine the effectiveness of email
                                    marketing campaigns.
                                </li>
                            </ul>
                            <h5>
                                Information We Collect From Other Sources
                            </h5>

                            <p>
                                We may also receive information about you from other sources, such as when logging into your
                                Storage Services account by using your account credentials for a separate third-party service.
                                We will receive information from that service as indicated in the relevant third party’s
                                authorization screen.
                            </p>

                            <h4>Use of Information</h4>
                            <p>
                                We may use information about you for various purposes, including to:
                            </p>

                            <ul>
                                <li>Provide, maintain, deliver and improve our Services;</li>
                                <li>Develop new products and services;</li>
                                <li>Send you technical notices and support and administrative messages;</li>
                                <li>Communicate with you about products, services, promotions, events and other news and
                                    information we think will be of interest to you;</li>
                                <li>Monitor and analyze trends, usage and activities in connection with our Services;</li>
                                <li>Detect, investigate and prevent fraudulent transactions and other illegal activities and protect the rights and property of Company and others;</li>
                                <li>Link or combine information we collect from or about you; and</li>
                                <li>Carry out any other purpose for which the information was collected.</li>
                            </ul>

                            <h5>Sharing of Information</h5>
                            <ul>
                                <li>We may share information about you with others as follows:</li>
                                <li>With service providers that perform work for us;</li>
                                <li>When you use interactive areas of our Services, like our blog or other online forums,
                                    certain information you choose to share may be displayed publicly, such as your username,
                                    actions you take and any content you post;</li>
                                <li>In response to a request for information if we believe disclosure is in accordance with,
                                    or required by, any applicable law, regulation or legal process;</li>
                                <li>If we believe your actions are inconsistent with our user agreements or policies, or to
                                    protect the rights, property and safety of Company or others;</li>
                                <li>In connection with, or during negotiations of, any merger, sale of company assets, financing
                                    or acquisition of all or a portion of our business by another company;</li>
                                <li>Between and among Company and its current and future parents, affiliates, subsidiaries and
                                    other companies under common control and ownership; or</li>
                                <li>With your consent or at your direction.</li>
                            </ul>

                            <p>We may also share aggregated or de-identified information, which cannot reasonably be used to identify you.</p>

                            <h5>Social Sharing Features</h5>
                            <p>Our Services may offer social sharing features and other integrated tools. Your use of such
                                features enables the sharing of information with your contacts or the public, depending on the
                                settings you establish with the entity that provides the social sharing feature. For more information
                                about the purpose and scope of data collection and processing in connection with social sharing features,
                                please visit the privacy policies of the entities that provide these features.</p>

                            <h5>Analytics Services Provided by Others</h5>
                            <p>We may allow others to provide analytics services on our behalf in connection with our Services.
                                These entities may use cookies, web beacons and other technologies to collect information about
                                your use of the Services and other websites and apps, including your IP address, web browser,
                                pages viewed, app performance, time spent on pages and links clicked. This information may be used
                                by Company and others to, among other things, analyze and track data, determine the popularity of
                                certain content and better understand your online activity.</p>

                            <h5>Security</h5>
                            <p>Company takes reasonable measures to help protect information about you from loss, theft, misuse
                                and unauthorized access, disclosure, alteration and destruction.</p>

                            <h5>Transfer of Information to the U.S. and Other Countries</h5>
                            <p>Company is based in the United States and the information we collect is governed by U.S. law.
                                By accessing or using our Services or otherwise providing information to us, you consent to the
                                processing and transfer of information in and to the U.S. and other countries, where you may not
                                have the same rights as you do under local law. Where this is the case, we will take appropriate
                                measures to protect information about you in accordance with this Privacy Policy.</p>

                            <h4>Your Choices</h4>
                            <h5>Account Information</h5>
                            <p>You may update your Storage Services account information by logging into your account.</p>

                            <h5>Telemetry Information</h5>
                            <p>Users of the Software can opt out of our collection of Telemetry Information. Please refer to
                                the settings area of the Software to opt out of this collection.</p>

                            <h5>Cookies</h5>
                            <p>Most web browsers are set to accept cookies by default. If you prefer, you can usually choose
                                to set your browser to remove or reject browser cookies. Please note that if you choose to remove
                                or reject cookies, this could affect the availability and functionality of our Services.</p>

                            <h5>Promotional Communications</h5>
                            <p>You may opt out of receiving promotional communications from us at any time by following the
                                instructions in those communications. If you opt out, we may still send you non-promotional
                                communications, such as those about your account or our ongoing business relations.</p>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End Terms & Conditions -->


{% endblock %}


{% block footer_javascript %}
    <script src="assets/js/Controllers/MainController.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}
