html {
    scroll-behavior: smooth;
}

canvas {
    display: block;
    vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}


[v-cloak] {
    display: none;
}

#topnav .navigation-menu > li > a{
    color:#dedede;
}

#topnav.nav-sticky .navigation-menu li a, #topnav.nav-sticky .navigation-menu li.active a{
    color: #0b0b0b !important;
}

#topnav .navigation-menu > li:hover > a, #topnav .navigation-menu > li.active > a{
    color: #ffffff !important;
}

.logo .dark{
    display: none;
}

#topnav.nav-sticky .logo .dark{
    display: inline-block;
}

#topnav.nav-sticky .logo .light{
    display: none;
}

.modal-dialog {
    max-width: 900px !important;
}


ul.text-muted li::before {
    content: "\2022";
    color: #007bc1;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -18px;
    margin-top: -1px;
}

#topnav .navigation-menu{
    justify-content: flex-end;
    margin-right: 0 !important;
}
